@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Candidate Site</h1>
    <p class="lead">Candidate Site was made using ASP.NET which helps incorporate other programming languages such as, HTML, CSS, and JavaScript</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Get started by creating your candidate profile here.</p>
        <p><input class="btn btn-default" type="button" value="Create &raquo;" onclick="location.href='@Url.Action("Create", "Candidates")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Candidate List</h2>
        <p>Look at other potential candidates here.</p>
        <p><input class="btn btn-default" type="button" value="Candidate List &raquo;" onclick="location.href='@Url.Action("Index", "Candidates")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Log Out</h2>
        <p>Finished? Log out here.</p>
        <p><input class="btn btn-default" type="button" value="Log Out &raquo;" onclick="location.href='@Url.Action("LogOut", "Login")'" /></p>
    </div>
</div>